.card {
  border: 1px solid var(--border-color);
  width: 50vw;
  height: 50vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  &.accent {
    &-info {
      border-top: solid var(--accent-info) 4px;
    }
    &-danger {
      border-top: solid var(--accent-danger) 4px;
    }
    &-warning {
      border-top: solid var(--accent-warning) 4px;
    }
  }
}

hr {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-bottom: solid var(--border-color) 1px;
  &-size {
    &-s {
      font-size: var(--size-s);
    }
    &-m {
      font-size: var(--size-m);
    }
    &-l {
      font-size: var(--size-l);
    }
  }
  .ellipsis {
    width: 8px;
  }
}

.body {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
