.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: solid var(--border-color) 1px;
  justify-content: space-between;
  padding: var(--size-l);
}

.btn-primary {
  background-color: var(--button-primary-background);
  color: var(--button-primary-color);
}
